:root {
  --secondaryColor: #5c6064;
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.all-content {
  background-color: black;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  color: white;
  padding-top: 10px;
}

.all-content>main {
  width: 990px;
  border-left: 1px solid #3a3a3a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}