.main {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: relative;
}

.main .left-part {
  border-right: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  flex: 1.4;
  margin-bottom: 15px;
}

.main .right-part {
  flex: 1;
}